<h1>All Competitions</h1>


<h2>Make a New Competition</h2>

<form ng-submit="vm.create_competition()">
    New topic: <input ng-model="vm.new_topic" type="text"/>

    <br/><input id="submit-new-competition-form" type="submit"/>
</form>


<table id="competitions_table" border="1">
    <tr>
        <th>Topic</th>
        <th>Active</th>
        <th>Submissions</th>
        <th>Votes</th>
    </tr>
    <tr ng-repeat="competition in vm.competitions">
        <td class="topic_cell">{{competition.topic}}</td>
        <td>{{competition.active}}</td>
        <td>{{competition.photos.length}}</td>
        <td>{{competition.usersVoted.length}}</td>
    </tr>
</table>
